{% if archived %}
<div class="mb-4">
  <div class="d-flex justify-content-between me-2 mb-4">
    <h3>Archived Tasks</h3>
  </div>

  <div class="row table-title mb-2">
    <div class="col-3 table-col">
      Task name
    </div>
    <div class="col-3 table-col">
      Members
    </div>
    <div class="col-3 table-col">
      Due Date
    </div>
  </div>

  <div class="accordion row table-body" id="tasks">
    {% for task in archived %}
    <div class="accordion-item task-item">
      <div class="row py-3" id="task-heading{{ task.pk }}" type="button" data-bs-toggle="collapse"
        data-bs-target="#task-collapse{{ task.pk }}" aria-expanded="false" aria-controls="task-collapse{{ task.pk }}">

        <div class="col-3 table-col">
          {{task.title}}
        </div>
        <div class="col-3 table-col d-flex align-items-center position-relative">
          {%if task.assigned_members.all.count %}
          {% for member in task.assigned_members.all|slice:"5" %}
          <img src="{{member.gravatar}}" alt="User" class="user-image"
            style="left: calc({{forloop.counter0}}px * 20);" />
          {% endfor %}
          {% if task.assigned_members.all.count > 5 %}
          <div class="user-image d-flex justify-content-center align-items-center"
            style="background-color: #474367; left: 100px; color: rgb(239, 239, 239); font-size: 12px;">
            <span>+{{task.assigned_members.all.count|add:"-5"}}</span>
          </div>
          {% endif %}
          {%else%}
          No Members
          {%endif%}
        </div>
        <div class="col-3 table-col">
          {{task.due_date}}
        </div>
        <div class="col-3 table-col" style="font-size: 18px;">
          <span class="badge bg-info text-dark ms-auto me-5">Archived</span>
        </div>
      </div>

      <div id="task-collapse{{task.pk}}" class="accordion-collpase collapse py-3"
        aria-labelledby="task-heading{{ task.pk }}">
        <div class="accordion-body">
          <h4 class="mb-4">{{ task.title }}</h4>

          <div class="row">
            <div class="col-4">
              <div class="mb-2">
                <span style="font-weight: bold;">Task Description:</span> </br>
                <span>{{ task.description }}</span>
              </div>
              <div class="mb-2">
                <span style="font-weight: bold;">Created:</span> </br>
                <span>{{ task.created_at|date:"F j, Y" }}</span>
              </div>
              <div class="mb-2">
                <span style="font-weight: bold;">Due Date:</span> </br>
                <span>{{ task.due_date|date:"F j, Y" }}</span>
              </div>
            </div>

            <div class="col-4">
              <span class="members-label px-4" style="font-weight:bold">Members Assigned:</span> </br>
              <div class="btn-group my-2 px-4">
                <button type="button" class="btn btn-purple btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Assign Members
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                  style="max-height: 210px; overflow-y: scroll;">
                  {% for user in team.members.all %}
                  {% if user in task.assigned_members.all %}
                  <a class="dropdown-item active" href="{% url 'assign_member_to_task' task.id user.id %}">
                    {{ user.username }}</a>
                  {%else%}
                  <a class="dropdown-item" href="{% url 'assign_member_to_task' task.id user.id %}">
                    {{ user.username }}</a>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div class="px-4" style="overflow-y: scroll; min-height: 200px; max-height: 200px; overflow-x:visible;">
                <div class="d-flex flex-wrap my-2">
                  {% for member in task.assigned_members.all %}
                  <div class="user-tooltip">
                    <img src="{{member.gravatar}}" alt="User" class="member-img" />
                    <span class="tooltiptext">{{member.full_name}}</span>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="d-grid gap-3 col-5 mx-auto">
                <form action="{% url 'task_toggle' task_id=task.id %}" method="post">
                  {% csrf_token %}
                  {% if task.is_complete %}
                  <button class="btn btn-success w-100 disabled">
                    <i class="bi bi-check-lg"></i> Completed
                  </button>
                  {% else %}
                  <button class="btn btn-secondary w-100 disabled">
                    <i class="bi bi-check-lg"></i> Mark Complete
                  </button>
                  {% endif %}
                </form>

                <a class="btn-purple btn w-100 disabled" href='{% url "edit_task" task.id%}'>
                  <i class="bi bi-pencil-square"></i>
                  Edit Task
                </a>

                <form action="{% url 'toggle_archive' task_id=task.id %}" method="post">
                  {% csrf_token %}
                  <span class="">
                    {% if task.is_archived %}
                    <button class="btn btn-info w-100">
                      <i class="bi bi-archive"></i> Unarchive
                    </button>
                    {% endif %}
                  </span>
                </form>

                <form action="{% url 'delete_task' task.id %}" method="post" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn-danger btn w-100">
                    <i class="bi bi-trash"></i>
                    Delete Task
                  </button>
                </form>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}