<header class="d-flex flex-wrap align-items-center justify-content-between py-3 h-100">
    <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <div class="ms-3 d-flex align-items-center">
                <img src="../../static/hyena_logo.png" alt="" style="height: 50px;">
                <span style="font-size: 18px; color: #2c1f7d;" class="ms-4">
                    <i><strong>H Y E N A</strong></i>
                </span>
            </div>
        </a>
    </div>

    <div class="col-md-3 text-end me-3">
        <a href="{% url 'log_in' %}" class="btn btn-outline-purple me-2">Log in</a>
        <a href="{% url 'sign_up' %}" class="btn btn-purple">Sign up</a>
    </div>
</header>