<style>
  .nav-item {
    color: #241969;
    transition: 0.5s all ease;
  }

  .nav-item-top {
    border-radius: 8px 8px;
  }

  .nav-item:hover {
    color: white;
    background-color: #847bc0;
    filter: drop-shadow(0 0 4px #adadad);
  }
  .purple-text {
    color: #2c1f7d;
  }
  .user-container {
    background-color: #cec9e9;
    border-radius: 16px;
    border: 1px solid #c2bce2;
    transition: 0.3s ease all;
  }
  .user-container:hover {
    background-color: #afa8da;
  }
  .user-options {
    position: absolute;
    width: 90%;
    transition: 300ms ease all;
    bottom: 100%;
    left: 5%;  
    z-index: 0;
    max-height: 0;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
  }
  .user-container:hover .user-options{
    max-height: 300px;
  }
</style>


<nav class="d-flex flex-column justify-content-between align-items-center px-3 py-5 h-100">
  <div class="w-100 mb-3">

    <div class="d-flex flex-column align-items-center">
      <div class="object-fit-cover" style="width: 100px; height: 100px;">
        <img src="../../../static/hyena_logo.png" alt="Hyena" style="width: 100%; height: 100%;">
      </div>
      <span style="font-size: 18px; color: #2c1f7d;">
        <i><strong>H Y E N A</strong></i>
      </span>
    </div>

    <div class="mt-4 w-100 d-flex flex-column align-items-center">
      <a style="width: 100%; max-width: 230px; text-decoration: none;" class="mb-3" href="{% url 'dashboard' %}">
        <div class="p-2 d-flex align-items-center nav-item nav-item-top">
          <i class="bi bi-house-fill mx-3"></i>
          <span class="flex-grow-1 mx-2" style="font-size: 16px;">Dashboard</span>
        </div>
      </a>
      <a style="width: 100%; max-width: 230px; text-decoration: none;" class="mb-3" href="{% url 'notifications' %}">
        <div class="p-2 d-flex align-items-center nav-item nav-item-top">
          <i class="bi bi-bell-fill mx-3"></i>
          <span class="flex-grow-2 mx-2" style="font-size: 16px;">
            Notifications
          </span>
          {% if unseen_notifs %}
          <span class="badge rounded-pill bg-danger">
            {{ unseen_notifs.count }}
            <span class="visually-hidden">unread messages</span>
            {% endif %}
          </span>
        </div>
      </a>
      <a style="width: 100%; max-width: 230px; text-decoration: none;" class="mb-3" href="{% url 'create_team' %}">
        <div class="p-2 d-flex align-items-center nav-item nav-item-top">
          <i class="bi bi-people-fill mx-3"></i>
          <span class="flex-grow-1 mx-2" style="font-size: 16px;">New Team</span>
        </div>
      </a>
    </div>

  </div>

  <div class="w-100 mb-1 d-flex flex-column" style="max-width: 230px;">
    <div class="d-flex justify-content-between shadow-lg py-2 px-3 position-relative user-container">
      <div class="d-flex">
        <img src="{{ user.mini_gravatar }}" alt="User Gravatar"
          style="border: 2px solid #8e84ca; border-radius: 50%; height: 50px; width: 50px;">
        <div class="ms-3">
          <span class="purple-text">{{ user.full_name }}</span> <br>
          <span class="purple-text" style="font-size: 0.75rem;">{{ user.username }}</span>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <span class="purple-text">
          <i class="bi bi-chevron-double-up"></i>
        </span>
      </div>

      <div class="user-options shadow-lg">
        <a style="width: 100%; max-width: 230px; text-decoration: none;" href="{% url 'profile' %}">
          <div class="p-2 d-flex align-items-center nav-item">
            <i class="bi bi-person-fill mx-3"></i>
            <span class="flex-grow-1 mx-2" style="font-size: 16px;">Update Profile</span>
          </div>
        </a>
        <div class="border-2 border-bottom">
        <a style="width: 100%; max-width: 230px; text-decoration: none;" href="{% url 'password' %}">
          <div class="p-2 d-flex align-items-center nav-item">
            <i class="bi bi-lock-fill mx-3"></i>
            <span class="flex-grow-1 mx-2" style="font-size: 16px;">Change Password</span>
          </div>
        </a>
      </div>
        <a style="width: 100%; max-width: 230px; text-decoration: none;" href="{% url 'log_out' %}">
          <div class="p-2 d-flex align-items-center nav-item">
            <i class="bi bi-box-arrow-right mx-3"></i>
            <span class="flex-grow-1 mx-2" style="font-size: 16px;">Log out</span>
          </div>
        </a>
      </div>

    </div>
  </div>
</nav>