<style>
    .table-title {
        font-size: 18px;
        background-color: #756cba;
        color: white;
        border-radius: 8px;
        padding: 8px 0;
    }

    .table-row {
        font-size: 18px;
        background-color: #cfcbe9;
        color: #0a071f;
        border-radius: 8px;
        padding: 8px 0;
    }
    .overdue-task {
        background-color: #c73c3c;
        color: white;
    }
</style>

<div class="mx-3">
    <div class="list-group">
        <div class="row table-title mb-2">
            <div class="col table-col">
                Task name
            </div>
            <div class="col-6 table-col">
                Description
            </div>
            <div class="col-2 table-col">
                Due Date
            </div>
            <div class="col-2 table-col">
                Team
            </div>
        </div>
    </div>
    {% if user_tasks %}
    <div class="list-group" >
        {% for task in user_tasks %}
        <a href="{% url 'show_team' task.author.id %}" style="text-decoration: none;">
            {% if task in late_tasks %}
            <div class="row table-row overdue-task mb-2">
            {% else %}
            <div class="row table-row mb-2">
            {% endif %}
                <div class="col table-col">
                    {{ task.title }}
                </div>
                <div class="col-6 table-col">
                    {{ task.description }}
                </div>
                <div class="col-2 table-col">
                    {{ task.due_date }}
                </div>
                <div class="col-2 table-col">
                    {{ task.author.title }}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <div class="list-group">
        <div class="row table-row mb-2">
            <div class="col table-col" style="text-align: center;">
                You have no tasks assigned to you
            </div>
        </div>
    </div>
    {% endif %}
</div>