<div>
  <div>
      <h3>Your Tasks</h3>
      {% if tasks %}
          {% for task in tasks %}
              <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-heading{{  task.pk }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{  task.pk }}" aria-expanded="false" aria-controls="panelsStayOpen-collapse{{  task.pk }}">
                      {{ task.title }}
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapse{{ task.pk }}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading{{  task.pk }}">
                    <div class="accordion-body">
                      {{ task.description }}
                      {{ task.due_date }}
                    </div>
                  </div>
                </div>
          {% endfor %}
      {% else %}
        <p>You haven't created any tasks yet.</p>
      {% endif %}
  </div>
</div>

