
<div class="w-100">
    <div class="card-container">
        {% if user_teams %}
        {% for team in user_teams %}
            <a class="me-3 mb-3" style="text-decoration: none;" href="{% url 'show_team' team.id %}">
                <div class="d-flex flex-column team team-card overflow-hidden">
                    <div class="p-3" style="overflow: hidden; text-overflow: ellipsis;">
                        <h5 class="card-title"><strong>{{ team.title }}</strong></h5>
                    </div>
                </div> 
            </a>  
        {% endfor %}
        {% endif %}
        <a class="me-3 mb-3" style="text-decoration: none;" href="{% url 'create_team' %}">
            <div class="d-flex flex-column justify-content-center align-items-center team-card add-team">
                <i class="bi bi-plus-lg mb-1"></i>   
                <p class="card-text mt-1">Create New Team</p>
            </div>
        </a>
    </div>
    </div>
    

    