{% extends 'base_content.html' %}
{% block title %} | Create Team {% endblock%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="title-color my-4">Create a New Team</h2>
            <div class="my-5 mx-5">
                <form method="post" action="{% url 'create_team' %}">
                    {% csrf_token %}
                    {% include 'partials/bootstrap_form.html' with form=form %}
                    <div class="d-grid col-6 mx-auto">
                        <input type="submit" value="Create Team" class="btn btn-purple">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}