{% extends 'base_content.html' %}
{% block content %}
<style>
  .title-color {
    color: #1a0d7a;
  }

  .info-card {
    border-radius: 16px;
    border: 1px solid #111111;
  }

  .bg-no-overdue {
    background-color: #f1e587;
    border: 1px solid #bdae40;
  }
  
  .bg-overdue {
    background-color: #c73c3c;
    border: 1px solid #8d1313;
    color: white;
  }

</style>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="mt-2 mb-4 title-color">Dashboard</h1>

      <div class="info-card bg-no-overdue my-3 shadow-lg" style="max-width: 32rem;">
        <div class="card-body">
          <div class="mb-3">
            <h4 class="card-title">Welcome {{ user.first_name }},</h4>
          </div>
          <p class="card-text">
            Nice job, you are not overdue on any tasks.
          </p>
        </div>
      </div>
      <div class="mt-5">
        <h3 class="mb-3"><i class="bi bi-people"></i> &Tab; Your Teams ({{ user_teams.count }})</h3>
        {% include 'partials/teams.html' with user_teams=user_teams %}
      </div>
    </div>
</div>
{% endblock %}

<!--       <div class="info-card bg-overdue my-3" style="max-width: 32rem;">
        <div class="card-body">
          <div class="mb-3">
            <h4 class="card-title">Welcome {{ user.first_name }},</h4>
          </div>
          <p class="card-text">
            You have 3 overdue tasks
          </p>
        </div>
      </div> -->