{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to your dashboard {{ user.username }}</h1>
      <h2> Create a New Team</h2>
      <form method="post" action="{% url 'new_team' %}">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <button type="submit">Create Team</button>
      </form>
      <h3>Your Teams</h3>
        {% if user_teams %}
          <ul>
            {% for team in user_teams %}
              <li>{{ team.title }} - {{ team.description }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p>You haven't created any teams yet.</p>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}