{% extends 'base_content.html' %}
{% block title %} | Edit Team{% endblock%}
{% block content %}
<div class="container">
  <div class="row">
      <div class="col-12">
          <h2 class="title-color my-4">Edit Team: {{ team.title }}</h2>
          <div class="my-5 mx-5">
              <form method="post" action="{% url 'edit_team' team.id %}">
                  {% csrf_token %}
                  {% include 'partials/bootstrap_form.html' with form=form %}
                  <div class="d-grid col-6 mx-auto">
                      <input type="submit" value="Update" class="btn btn-purple">
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}