{% extends 'base.html' %}
{% block body %}
  
  <div class="container min-vw-100 vh-100" id="home">
    <div class="row h-100">    
      <div class="col-12 my-auto">
        <div class="row">
          <div class="col-md-6">
            <img src="..\static\team-huddle.png" alt="Team huddle" width="600" height="320"> 
          </div>
          <div class="card cover-card col-md-9">
            <h1 class="cover-heading">Task Manager</h1>
            <p class="cover-text">A task manager application by Team <i>HYENA</i>. Connect all your teammates and work together!</p>
            <p>
              <a href='{% url 'sign_up' %}' class="btn btn-lg btn-secondary">
                Sign up
              </a>
            </p>
            <p>
              <a href='{% url 'log_in' %}' class="btn btn-lg btn-secondary">
                Log in
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
