{% extends 'base.html' %}
{% block title %} | Home {% endblock%}
{% block body %}
<div class="position-fixed w-100 pt-2">
  <div class="container shadow-lg" style="background-color: #c2bfe9; border-radius: 16px;">
    {% include 'partials/navbar.html' %}
  </div>
</div>
<div class="d-flex vh-100 vw-100 p-3 justify-content-center align-items-center landing-bg">
  <div class="d-flex justify-content-between align-items-center landing-container">
    <div style="width: 50%; max-width: 600px;">
      <h1 class="title-color">The platform built to transform task management.</h1>
      <p class="lead my-3">Hyena makes it easier than ever to managing your tasks and teams, all with the click of a few
        buttons.
      </p>
      <p class="lead ms-3">
        <a href="{% url 'sign_up' %}" class="btn btn-purple btn-fancy btn-lg me-4">Get Started</a>
      </p>
    </div>
    <div style="width: 50%; min-width: 400px; max-width: 600px;">
      <img src="../static/home_banner.svg" style="width: 100%;" alt="">
    </div>
  </div>
</div>
{% endblock %}