{% extends 'base_content.html' %}
{% block title %} | Invitations {% endblock%}
{% block content %}
<div class="container pb-4">
    <h2 class="title-color my-4">Your Invitations</h2>
    <div class="shadow-sm" style="border-radius: 16px; overflow: hidden;">
        <div class="card-header">
            <h3 class="mb-0 py-1" style="font-size: 24px;">Invitations ({{ invitations.count }})</h3>
        </div>
        <div class="card-body">
            {% if invitations %}
                <div class="list-group">
                    {% for invitation in invitations %}
                        <div class="list-group-item unseen flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ invitation.team.title }}</h5>
                                <small>Sent on: {{ invitation.date_sent|date:"N j, Y" }}</small>
                            </div>
                            <p class="mb-1">
                                {% if invitation.status == 'invited' %}
                                    <a href="{% url 'accept_invitation' invitation.id %}" class="btn btn-success btn-sm me-2">Accept</a>
                                    <a href="{% url 'decline_invitation' invitation.id %}" class="btn btn-danger btn-sm">Decline</a>
                                {% elif invitation.status == 'accepted' %}
                                    <span class="badge bg-success">Accepted</span>
                                {% elif invitation.status == 'declined' %}
                                    <span class="badge bg-danger">Declined</span>
                                {% endif %}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
            <div class="py-4 d-flex align-items-center justify-content-center">
                <span>You don't have any invitations.</span>
            </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}