<style>
  .title-color {
      color: #1a0d7a;
  }

  .btn-purple {
      background-color: #5f5bb6 !important;
      color: white !important;
      transition: all ease 300ms;
  }

  .btn-purple:hover {
      background-color: #4e49a8 !important;
  }
</style>
{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
      <div class="col-12">
          <h2 class="title-color my-4">Update your Profile</h2>
          <div class="my-5 mx-5">
              <form method="post" action="{% url 'password' %}">
                  {% csrf_token %}
                  {% include 'partials/bootstrap_form.html' with form=form %}
                  <div class="d-grid col-6 mx-auto">
                      <input type="submit" value="Change Password" class="btn btn-purple">
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}