{% extends 'base_content.html' %}
{% block title %} | {{team.title}} {% endblock%}
{% block content %}
<div class="container">
    <div class="row content">
        <div class="mb-5">
            {% include 'partials/team_details.html' %}
        </div>
        <div class="mb-5">
            {% include 'partials/leaderboard.html' with members=members %}
        </div>
        <div class="mb-4">
            {% include 'partials/tasks_as_table.html' with tasks=tasks %}
        </div>
        <div class="mb-4">
            {% include 'partials/archived_tasks.html' with tasks=tasks %}
        </div>
    </div>
</div>
{% endblock %}