{% extends 'base_content.html' %}
{% block title %} | Sign Up{% endblock%}
{% block content %}
<div class="d-flex justify-content-center align-items-center">
  <div class="container" style="background-color: #ffffffaa; border-radius: 12px;">
    <div class="row">
      <div class="col-12">
        <h1>Sign up</h1>
        <form action="{% url 'sign_up' %}" method="post">
          {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}
          <input type="submit" value="Sign up" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}